<main>
   <h1>About Cubicle</h1>
   <div class='about'>
      <br>
         <br>The Rubik's Cube website is a passion project created by Lalutoww, hailing from the beautiful country of Bulgaria. With a deep fascination for this iconic 3D puzzle, Lalutoww embarked on a journey to share the magic of the Rubik's Cube with the world.</br>

<br>Our website is a hub for all things Rubik's Cube. It offers different cube variants for enthusiasts of all skill levels. Whether you're a novice just beginning your cube-solving adventure or a seasoned pro aiming to break records, you'll find cool cubes.</br>

<br>We invite you to delve into the colorful world of the Rubik's Cube through our website and become a part of our global community, where the fascination for this timeless puzzle knows no bounds.</br>

<br>Student at: </br>
         <a href='https://softuni.bg/'>Software University</a>.</p>
   </div>
</main>